{% extends 'MerchantPage.html' %}
{% block body %}











<form method="POST">
    {% csrf_token %}  
        <table class="brand">
            <tr>
                <td>
                    Category Name
                </td>
                <td><input type="text" class="textbox" placeholder="Enter category" name="ctname"></td>
            </tr>
            <tr>
              <td>
                  Subcategory Name
              </td>
              <td><input type="text" class="textbox" placeholder="Enter Subcategory" name="scname"></td>
          </tr>
          <tr>
            <td>
                Brand Name
            </td>
            <td><input type="text" class="textbox" placeholder="Enter Brandname" name="bname"></td>
    </tr>
    <tr>
      <td>
          Specification
      </td>
      <td><input type="text" class="textbox" placeholder="Enter Specification" name="specification"></td>
  </tr>
            <tr>
                    <td>
                            <input type="submit" class="but" value="Add Now">
                    </td>
                </tr>
                
        </table>
        </form>






















{% endblock %}