{% extends 'MerchantPage.html' %}
{% block body %}







<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<table class="customers">
    <tr>
    <th>Product ID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th></th>
</tr> 
    
    {% for d in data %}
     
    <tr>
    <td>{{d.0}}</td>
    <td><a href="/demo_piechart2?name={{d.4}}">{{d.4}}</a></td>
    <td>{{d.8}}</td>
    <td></td>
    
    </tr>
  
    {% endfor %}
</table>
    {% endblock %}
        